.padding-form{
  margin-top : 50px;
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: scroll;
  max-height: 70%;
  overflow-x: hidden;
  padding: 10px
}

div#others{
  border-top: 1px solid #dee2e6;
}
p#others{
  color: #dee2e6;
}